* {
  box-sizing: border-box;
  text-align: center;
}

body {
	/* same for all three pages*/
	font-family:"Georgia, Times, Times_New_Roman, serif";
	color:#777777;
	font-size:18px;
	line-height:150%;
	margin:0;
	padding:0;
	width:100%;
}

#main-name{
		/* same for all three pages but the appearance/size varies*/
	font-family:"Georgia, Times, Times_New_Roman, serif";
	background-color:#4aaaa5;
	color: white;
	font-size:36px;
	padding:5px 20px 40px 30px;
	width:240px;
	height:90px;
	/*margin:auto 0;
	margin-left:147px;*/
	margin-left:3%;
	text-align:left;
	line-height:110%;
	float:left;
	border:1px #ffffff;
}


#nav {
	/* same for all three pages but clearly larger on Portfolio page*/
	float:right;
	height:90px;
	padding:25px 0;
	margin-right:14%;
}


.container{
	/* this is main content area (applies to p 1-3)*/
	width: 100%;
	border-top:4px #DDE1E6;
	overflow:auto;
	text-align:left;
	border-top: 2px #ccc;
	padding:40px 0;

	/* can't seem to get a border line between header and container */
}	
#main-bio{
	/*this is the left element (applies to p 1-3) in container/main content*/
	float:left;
	width:650px;
	margin-left: 3%;
	/*margin:43px 45px 45px 147px;
	padding:0px 30px 0px 30px;*/
	background-color:#ffffff;
	border: 1px #dddddd;
}	

#bio-image{
	float:left;
	margin:20px 20px 0px 25px;
	width:150px;
	height:200px;
}
/*below is the right element (Connect with me, applies to p 1-3) in container/main content*/
.connect{
	float:right;
	max-width:270px;
	margin-right:14%;
	padding-bottom:30px;
	background-color:#ffffff;
	border: 5px #dddddd;
}
/*div.icon:hover{
	border:5px solid #4aaaa5; - work on this later for individual links
below is the left element (Contact Form Page 2) in container/main content*/
#contactform {
	float:left;
	width:650px;
	margin-left:3%;
	border:10px purple;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	background-color:white;
}
.name_email {
	width:650px;
	height:20px;
	margin:25px;
	padding-bottom:20px;
	color:red;
	float:left;
	font-size:28px;
	text-align:left;
}

.field{
	width:590px;
	height:35px;
	padding:30px 30px 30px 0px;
	border-color:5px red;
	text-align:left;
	font-size:24px;
}

#M-textarea {
	
	width:590px;
	border-color:#ccc;
	height:200px;
	font-size:18px;
}
.submit {
	width:115px;
	height:41px
	padding:11px 30px 15px 30px;
	background-color:#4aaaa5;
	color: white;
	font-size:24px;
	clear:both;
	float:left;
	text-align: center;
}

.input{
	width:590px;
	height:35px;
	font-size:18px;
	text-align:left;
	color:#ccc;
}

/* The following classes/ids apply to Portfolio page
    changed left element name(from main-bio) to main3*/
#main3 { 
	float:left;
	width:650px;
	/*margin:43px 45px 45px 147px;
	padding-left:11px;*/
	margin-left:3%;
	background-color:#ffffff;
	border: 6px #dddddd;
	padding:9px;
}

div .item{
	width:275px;
	height:206px;
	margin:40px 20px 0px 20px;
	float:left;
	position:relative;
	overflow:hidden;
}

div .item:hover{
	border:10px double cadetblue;

}
div .desc{
	padding:10px 0;
	background-color:#4aaaa5;
	font-size:24px;
	color:#ffffff;
	text-align:center;
	position:absolute;
	bottom:0;
	width:100%;
}

/* h1 header: About Me*/
#aboutheader{
	font-family:"Georgia, Times, Times_New_Roman, serif";
	color: #4aaaa5;
	font-size:34px;
	max-width:100%;
	font-weight: bolder;
	padding:35px 0 35px 0px;
	border-bottom:#eee solid 5px;
	text-align:left;
	margin:0 26px;
}
/*still messing with headers -- would like to consolidate but.. */
#portheader{
	font-family:"Georgia, Times, Times_New_Roman, serif";
	color: #4aaaa5;
	font-size:34px;
	max-width:100%;
	font-weight: bolder;
	padding:35px 0 35px 0px;
	border-bottom:#eee solid 5px;
	text-align:left;
	margin:0 26px;
}

/*Contactform (h1) header*/
#contactheader{
	font-family:"Georgia, Times, Times_New_Roman, serif";
	color: #4aaaa5;
	font-size:34px;
	max-width:100%;
	font-weight: bolder;
	padding:35px 0 35px 0px;
	border-bottom:#eee solid 5px;
	text-align:left;
	margin:0;
}
/* h2 header: Connect with Me*/
h2 {
	font-family:"Georgia, Times, Times_New_Roman, serif";
	font-size:23px;
	font-weight:bold;
	color:#4aaaa5;
	background-color:white;
	margin:0 26px;
	padding:25px 20px 20px 20px;
	border-bottom:#eee solid 2px;
	text-align:left;
	max-width: 100%;
}

/* h3 header: Nav About,Portfolio,Connect*/
h3	{
	/* this could have been id/classed - but currently only one h3 in use- 
	and that is the nav bar About Profile Contact */
	font-family:"Georgia, Times, Times_New_Roman, serif";
	font-size:22px;
	font-weight:lighter;
	word-spacing:2px;
	max-width:100%;
}

a {	color:#9999a2;
	text-decoration: none;
	margin:4px;
}

p {	padding:20px 30px 0 30px;
	text-align:justify;
}

label{
	text-align:left;
	size:40px;
	width:100%;
}

footer{
	clear:both;
	float:left;
	background-color:#666666;
	border-top:cadetblue 10px solid;
	color:#cdc;
	font-size:12px;
	padding-top:25px;
	width:100%;
	height:85px;
}